[submodule "oxebots_interfaces"]
    path = src/oxebots_interfaces
    url = git@github.com:OxeBots/oxebots_interfaces.git

[submodule "oxebots_comms"]
    path = src/oxebots_comms
    url = git@github.com:OxeBots/oxebots_comms.git

[submodule "oxebots_bringup"]
    path = src/oxebots_bringup
    url = git@github.com:OxeBots/oxebots_bringup.git

[submodule "oxebots_observers"]
    path = src/oxebots_observers
    url = git@github.com:OxeBots/oxebots_observers.git

[submodule "ssl_ros_bridge"]
    path = src/ssl_ros_bridge
    url = git@github.com:SSL-A-Team/ssl_ros_bridge.git

[submodule "oxebots_strategy"]
    path = src/oxebots_strategy
    url = git@github.com:gwolfovitch/oxebots_strategy.git
    branch = GersonGabriel
